.Calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.calcFace {
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 10px;
}

.calcFace p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px;
}

.btn {
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.btn.zero {
    width: 130px;
    border-radius: 34px;
}
.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(90%);
}

.btn.bg-grey {
    background-color: #a6a6a6;
}

.btn.bg-orange {
    background-color: #ff9501;
}